# ignorar todo por defecto
*

# permitir este archivo
!.gitignore

# permitir carpetas que sí hay que subir
!BACKEND/
!BACKEND/**
!proyecto-VR/
!proyecto-VR/**

# opcional: si dentro de BACKEND tienes .env, no subirlo
BACKEND/.env
BACKEND/.env.*




proyecto-VR/public/web3/Build/

